@import 'base/color.scss';
@import 'base/font.scss';
@import 'base/mixin.scss';
@import 'base/variable.scss';
@import 'base/keyframes.scss';

html {
	font-size: $desktop;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
body {
	width: 100%;
	overflow-x: hidden;
}
.slick-prev {
	left: 2%;
	&:before {
		content: '';
		font-family: none;
		width: 1rem;
		height: 1rem;
		background-color: transparent;
		border-bottom: 3px solid white;
		border-left: 3px solid white;
		@include transform(rotate(45deg));
		display: block;
	}
}
.slick-next {
	right: 2%;
	&:before {
		content: '';
		font-family: none;
		width: 1rem;
		height: 1rem;
		background-color: transparent;
		border-top: 3px solid white;
		border-right: 3px solid white;
		@include transform(rotate(45deg));
		display: block;
	}
}
.main {
	width: 100%;
	height: 90vh;
	position: relative;
	.main-slide {
		width: 100%;
		height: 100%;
		background-color: gray;
		overflow: hidden;
		position: relative;
		.main-slide__bg {
			position: relative;
			width: 100%;
			margin-top: -2%;
		}
		.main-slide__ef {
			position: absolute;
			width: 100%;
			left: 0;
			opacity: 0;
			@include transition(all 0.7s ease);
			&.first {
				top: 20%;
				&.effect {
					top: -5%;
					opacity: 1;
				}
			}
			&.second {
				bottom: 0;
				&.effect {
					bottom: -10%;
					opacity: 1;
				}
			}
			&.third {
				top: 15%;
				&.effect {
					top: 0;
					opacity: 1;
				}
			}
			&.fourth {
				top: 0;
				&.effect {
					opacity: 1;
				}
			}
		}
	}
	.main-text {
		width: 100%;
		position: absolute;
		top: 25%;
		left: 0;
		overflow: hidden;
		.main-text__first {
			width: 100%;
			overflow: hidden;
			p {
				font-size: 1.4rem;
				color: $main1;
				text-transform: uppercase;
				font-family: 'Bodoni MT Condensed';
				width: 100%;
				text-align: center;
				opacity: 0;
				@include transform(translateY(100%));
				@include transition(all 0.5s ease);
				&.title {
					@include transform(translateY(0));
					opacity: 1;
				}
			}
		}
		.main-text__second {
			width: 100%;
			overflow: hidden;
			p {
				font-size: 3rem;
				color: $main1;
				text-transform: uppercase;
				font-family: 'Bodoni MT';
				font-weight: bold;
				width: 100%;
				text-align: center;
				@include transform(translateY(100%));
				@include transition(all 0.5s ease);
				&.title {
					@include transform(translateY(0));
					opacity: 1;
				}
			}
		}
		.main-text__line {
			width: 100%;
			height: 1px;
			background-color: $main1;
			margin-top: 1rem;
			@include transition(all 0.5s ease);
			@include animation(width-full 1s ease);
		}
		.main-text__btn {
			width: 100%;
			position: relative;
			overflow: hidden;
			margin-top: 26rem;
			text-align: center;
			p {
				font-family: 'Avenir LT Std 55 Roman';
				font-size: 1.15rem;
				padding: 1rem 2.5rem;
				background-color: rgba(255, 255, 255, 0.8);
				color: $main2;
				text-align: center;
				display: inline-block;
				margin: 0 auto;
				cursor: pointer;
				@include transform(translateY(100%));
				@include transition(all 0.5s ease);
				&:hover {
					background-color: $main2;
					color: $font-white;
				}
				&.title {
					@include transform(translateY(0));
					opacity: 1;
				}
			}
		}
	}
}
.section {
	width: 100%;
	position: relative;
	&.part01 {
		width: 100%;
		@include box-sizing(border-box);
		padding: 0 15%;
		margin-top: 8rem;
		position: relative;
		.latest-title {
			width: 100%;
			position: relative;
			.latest-indicator {
				width: 4rem;
				height: 3px;
				background-color: $main1;
				display: inline-block;
				margin-left: calc((100% - 4rem) / 2);
			}
			.latest-title__text {
				margin-top: 1rem;
				font-size: 2rem;
				line-height: 1;
				font-family: 'Bodoni MT';
				font-weight: bold;
				color: $main1;
				text-align: center;
				width: 100%;
			}
			.latest-title__desc {
				margin-top: 2rem;
				width: 40%;
				margin-left: 30%;
				word-break: keep-all;
				font-size: 0.9rem;
				line-height: 1.5;
				font-family: 'Avenir LT Std 55 Roman';
				color: $gray3;
				text-align: center;
			}
		}
		.latest-content {
			width: 100%;
			position: relative;
			.latest-content__box {
				width: 100%;
				height: 100%;
				display: block;
				position: relative;
				margin-top: 5rem;
				text-decoration: none;
				&:hover {
					.box-img {
						img {
							@include transform(scale(1.05));
						}						
						&:after {
							opacity: 0.3;
						}
					}
				}
				.box-img {
					position: relative;
					width: 100%;
					height: 100%;
					overflow: hidden;
					img {
						width: 100%;
						@include transition(transform 3s ease);
					}
					&:after {
						content: '';
						width: 100%;
						height: 100%;
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						background-color: $cover-dark;
						opacity: 0;
						@include transition(all 3s ease);
					}
				}
				.box-text {
					width: 45%;
					@include box-sizing(border-box);
					padding-left: 10%;
					position: absolute;
					left: 0;
					top: 15%;
					.box-text__date {
						font-size: 1rem;
						color: $font-white;
						font-family: 'Avenir LT Std 55 Roman';
						position: relative;
					}
					.box-text__title {
						font-family: 'Avenir LT Std 85 Heavy';
						color: $font-white;
						margin-top: 2rem;
						font-size: 2rem;
						line-height: 1.2;
						letter-spacing: -0.1rem;
						position: relative;
					}
					.box-text__more {
						width: 100%;
						margin-top: 3rem;
						position: relative;
						img {
							width: 3rem;
							height: 3rem;
							display: inline-block;
							cursor: pointer;
						}
					}
				}
				&.first {}
				&.second {
					.box-text {
						margin-left: 45%;
					}
				}
			}
		}
	}
	&.part03 {
		margin-top: 10rem;
		width: 100%;
		.collection-title {
			width: 100%;
			text-align: center;
			background-color: $main1;
			@include box-sizing(border-box);
			padding: 3rem 0 2rem 0;
			span {
				display: inline-block;
				width: 4rem;
				height: 3px;
				background-color: $main2;
			}
			p {
				margin-top: 1rem;
				font-family: 'Bodoni MT';
				font-weight: bold;
				color: $main2;
				font-size: 2rem;
				width: 100%;
				text-align: center;
			}
		}
		.collection {
			position: relative;
			width: 100%;
			background-color: $main1;
			.collection-wrapper {
				width: 100%;
				@include box-sizing(border-box);
				padding: 0 5% 3% 5%;
				.collection-tab {
					width: 20%;
					height: 31rem;
					@include flexbox();
					@include flex-direction(column);
					@include box-sizing(border-box);
					border: 4px solid $main1;
					background-color: $bg;
					display: inline-block;
					&.hover {
						.tab-image {
							.tab-image_inner {
								img {
									top: 10%;
								}
							}
						}
					}
					.tab-num {
						width: 100%;
						text-align: center;
						color: $main1;
						font-size: 1rem;
						font-family: 'Avenir LT Std 55 Roman';
						position: relative;
						margin-top: 2rem;
					}
					.tab-title {
						width: 70%;
						height: 4.8rem;
						margin-left: 15%;
						margin-top: 2rem;
						text-align: center;
						position: relative;
						@include flexbox();
						@include align-items(center);
						@include justify-content(center);
						p {
							width: 100%;
							font-size: 1.6rem;
							line-height: 1;
							text-align: center;
							display: inline-block;
							color: $main1;
							font-family: 'Bodoni MT';
							font-weight: bold;
							word-break: keep-all;
							word-wrap: break-word;
						}
					}
					.tab-image {
						width: 100%;
						height: 14rem;
						margin-top: 1rem;
						position: relative;
						.tab-image_inner {
							position: relative;
							width: 100%;
							height: 100%;
							overflow: hidden;
							border-bottom: 1px solid $main1;
							img {
								position: absolute;
								width: 60%;
								top: 15%;
								left: 20%;
								@include transition(all 0.5s ease);
							}
						}
					}
					.tab-btn {
						width: 100%;
						height: 3rem;
						position: relative;
						img {
							margin-top: 1rem;
							width: 3rem;
							height: 3rem;
							margin-left: calc((100% - 3rem) / 2);
							cursor: pointer;
							display: inline-block;
						}
					}
				}
			}
		}
	}
	&.part04 {
		margin-top: 10rem;
		width: 100%;
		position: relative;
		@include box-sizing(border-box);
		padding: 0 15%;
		.about-title {
			position: relative;
			width: 100%;
			span {
				display: inline-block;
				width: 4rem;
				height: 3px;
				background-color: $main1;
				margin-left: calc((100% - 4rem) / 2);
			}
			.title-text {
				margin-top: 1rem;
				font-family: 'Bodoni MT';
				font-weight: bold;
				color: $main1;
				font-size: 2rem;
				width: 100%;
				text-align: center;
			}
			.title-desc {
				margin-top: 2rem;
				width: 46%;
				margin-left: 27%;
				word-break: keep-all;
				font-size: 1rem;
				line-height: 1.5;
				font-family: 'Avenir LT Std 55 Roman';
				color: $gray3;
				text-align: center;
			}
		}
		.about-img {
			width: 100%;
			height: 18vw;
			margin-top: 7rem;
			background: url('../../images/index/boutique-1.jpg');
			background-size: cover;
			background-attachment: fixed;
			background-repeat: no-repeat;
		}		
	}
	&.part05 {
		width: 100%;
		position: relative;
		margin-top: 10rem;
		.service-wrapper {
			width: 100%;
			@include flexbox();
			height: 40rem;
			position: relative;
			.service-img {
				width: 50%;
				display: inline-block;
				height: 100%;
				overflow: hidden;
				position: relative;
				img {
					width: 100%;
					position: absolute;
					bottom: -30%;
				}
			}
			.service-text {
				width: 50%;
				display: inline-block;
				height: 100%;
				background-color: #5a6568;
				span {
					width: 4rem;
					height: 3px;
					background-color: white;
					display: inline-block;
					margin-left: calc((100% - 4rem) / 2);
					margin-top: 8rem;
				}
				.service-text__txt {
					margin-top: 3rem;
					font-family: 'Bodoni MT';
					font-weight: bold;
					color: $font-white;
					font-size: 2rem;
					line-height: 1.5;
					width: 60%;
					margin-left: 20%;
					text-align: center;
					word-break: keep-all;
					text-transform: uppercase;
					position: relative;
				}
				.service-text__btn {
					width: 50%;
					margin-left: 25%;
					position: relative;
					margin-top: 5rem;
					@include flexbox();
					@include align-items(center);
					cursor: pointer;
					&:hover {
						.service-text__btn-content {
							img {
								@include transform(translateX(10px));
							}
						}
					}
					.service-text__btn-content {
						font-family: 'Avenir LT Std 55 Roman';
						color: $font-white;
						font-size: 1.15rem;
						line-height: 1.2;
						display: inline-block;
						padding: 1rem 5rem 1rem 2rem;
						border: 3px solid white;
						position: relative;
						width: 100%;
						@include box-sizing(border-box);
						img {
							height: 1.15rem;
							width: auto;
							@include transition(all 0.5s ease);
							position: absolute;
							top: 1rem;
							right: 2rem;
						}
					}					
				}
			}
		}
	}
}