$main1: #0d2d2c;
$main2: #aca586;

$cover: #0e5446;
$cover-dark: #212121;

$gray1: #333333;
$gray2: #666666;
$gray3: #9a9a9a;
$gray4: #bbbbbb;


$bg: #f1f1f1;
$footer-bg: #898989;

$font-white: #f1f1f1;
